@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.intro-wrapper{
	background-color: #fff;
	/* border:1px solid var(--borderColor); */
	/* border-radius:5px 5px 0 0; */
  
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}
.resume {
  border-radius:5px 5px 0 0;
}
.left-column{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}
.full-name {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 0px 20px 40px;
}
#profile_pic{
	display: block;
	margin:0 auto;

	height: 180px;
	width: 180px;
	object-fit: cover;
	border:2px solid var(--borderColor);
}


.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;
  width: 500px;
	padding-top: 50px;
	padding-bottom: 50px;
}


#preview-shadow{
	background-color: #e6e6e6;
	max-width: 300px;
	height: 200px;
	padding-left: 40px;
	padding-top: 30px;
  margin-left: 50px;
}

#preview{
	width: 300px;
	/* border:1.5px solid #17a2b8; */
	background-color: #c69c6d;
	padding:20px;
	position: relative;
}

body {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 800;
  font-size: 16px;
}

.resume,
.s1 {
  width: 800px; 
  height: auto;
  display: flex;
  margin: 0px auto;
}

.resume .resume_left {
  width: 280px;
  background: #fff;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #000;
}

.resume .resume_skills {
  padding: 25px 0;
  border-bottom: 2px solid #fff;
}
.resume .resume_info {
  padding: 0px;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  width: 35px;
  height: 35px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .icon i,
.resume .resume_right ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
  color: #000;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #000;
  justify-content: space-between;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 40%;
  font-weight: bold;
}

.resume .resume_left .resume_skills ul li .skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #c69c6d;
  position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per {
  width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #b99267;
}

.resume .resume_info ul {
  padding: 30px 10px;
  background-color: #e6e6e6;
}

.resume .resume_left .resume_social ul {
  color: #000;
  display: flex;
  margin-bottom: 3px;
  justify-content: center;
  padding-left: 15px;
  padding-bottom: 20px;
  background-color: #e6e6e6;
}

.resume .resume_left .resume_social ul li {
  width: 35px;
  height: 35px;
  background: #000;
  
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
  /* font-size: 16px; */
  position: relative;
}

.resume .resume_left .resume_social ul li i {
  padding-left: 11px;
  padding-bottom: 1px;
}
.fa-facebook:before {
  content: "\f09a";
  color: #fff;
}
.fa-instagram-square:before {
  content: "\e055";
  color: #fff;
}
.fa-github:before {
  content: "\f09b";
  color: #fff;
}
.resume .resume_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}

.resume .resume_right .bold {
  color: #000;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  padding-bottom: 20px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #000;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background: #000;
}

